<div class="w-6/12 m-auto">
<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full"  %>
  </div>

  <div class="my-5">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full"  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :記憶しておく %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
