<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Circle</h1>
    <% if user_signed_in? %>
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% else %>
     <%= link_to 'ログイン', new_user_session_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to '会員登録', new_user_registration_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
    <%= link_to 'New circle', new_circle_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    
  </div>

  <div id="circles" class="min-w-full">
    <%= render @circles %>
  </div>
</div>
