<!DOCTYPE html>
<html>
  <head>
    <title>Circling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  </head>

  <body>
    <main class="">
    
      <header>
    <h1 class="title"><%= link_to 'Circling', root_path, class: "" %></h1>
    <nav class="nav">
      <ul class="menu-group">
        <li class="menu-item"><%= link_to '記事を作成する', new_circle_path, class: "" %></li>
      <% if user_signed_in? %>
        <li class="menu-item"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "rounded-lg py-1 px-2 bg-blue-600 text-white block font-medium" %></li>
      <% else %>
        <li class="menu-item"> <%= link_to 'ログイン', new_user_session_path, class: "rounded-lg py-1 px-2 bg-blue-600 text-sm text-white block font-medium" %></li>
        <li class="menu-item"><%= link_to '登録する', new_user_registration_path, class: "rounded-lg py-1 px-2 bg-blue-600 text-sm text-white block font-medium" %></li>
      <% end %>
      
      </ul>
    </nav>
  </header>
      <%= yield %>
      <footer>
<div class="footer01">
  <ul class="menu">
  <% if user_signed_in? %>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
     <li> <%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '会員登録', new_user_registration_path %></li>
      <% end %>
  </ul>
  <p class="copyright">
    &copy;circling
  </p>
</div>
</footer>
    </main>
  </body>
</html>
